div{
    width: 30%;
    background-color: rgb(223, 223, 223);
    padding: 2px;
    /* margin: auto; */
    float: center;
    border-radius:5px;
    margin-left: 30%;
    margin-top: 5%;
    
 }

/* input{
border-radius: 10px;
} */
/* label{
    color:whitesmoke;

} */