<app-header></app-header>
<div class="jumbotron col-md-offset-3">
    Username  <br><input type="text" #username><br>
    Fname <br><input type="text" #Fname><br>
    Contact<br> <input type="text" #Contact><br>
   Password  <br> <input type="password" #password><br>
   <input type="button" value="Submit" 
   (click)="register(username,Fname,Contact,password)"><br>
   For register click here->
   <input type="button" value="login" (click)="login()">
  
  </div>
  
    
   <!-- <label>enter firstname:</label><input class="form-control" type="text" [(ngModel)]="firstname"><br>
    <label>enter lastname:</label><input class="form-control" type="text" [(ngModel)]="lastname"><br>
    <label>enter username:</label><input class="form-control" type="text" [(ngModel)]="username"><br>
    <label>enter contact:</label><input class="form-control" type="text" [(ngModel)]="contact"><br>
    <label>enter age:</label><select class="form-control" name="age" [(ngModel)]="age">
        <option selected value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select><br>
   <label> enter password:</label><input class="form-control" type="password" [(ngModel)]="pass"><br>
   <div class="center-block text-center">   
    <input type="submit" (click)= "doSomething()" class="btn btn-success" name="submit" value="submit"></div>

</div>-->